---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
---

<Layout title="Friopanas">
  <h1>Formulario Friopanas</h1>
  <Form />
</Layout>
